body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

body.dark {
  background-color: #121212;
  color: white;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.movie {
  width: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

body.dark .movie {
  background-color: #1e1e1e;
  border: 1px solid #333;
}


.movie img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

@media (max-width: 768px) {
  #desktopRefresh {
    display: none;
  }
}

@media (min-width: 769px) {
  #pullIndicator {
    display: none !important;
  }
}
